.toggle-table {
  width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  min-width: 100%;
}

.button-column {
  width: 50px;
}

.no-data {
  border-bottom: 2px solid #dee2e6;
  padding: 10px 0;
}

.data-row {
  border-bottom: 2px solid #dee2e6;
}

.data-row td,
th {
  padding: 10px 0;
}

.toggle-table .btn-link {
  text-decoration: none;
  font-weight: bold;
}

.toggle-table ul {
  list-style-type: disc;
  margin-left: 20px;
}
.modality-container {
  margin-top: 15px;
}

.modality-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-button {
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.image-series-list {
  list-style-type: none;
  padding-left: 25px;
  margin: 5px 0;
}

.image-series-list li {
  text-align: left;
  padding-left: 25px;
}
