.toggle-table {
  width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  min-width: 100%;
}

.button-column {
  width: 50px;
}

.no-data {
  border-bottom: 2px solid #dee2e6;
  padding: 10px 0;
}

.data-row {
  border-bottom: 2px solid #dee2e6;
}

.data-row td,
th {
  padding: 10px 0;
}

.toggle-table .btn-link {
  text-decoration: none;
  font-weight: bold;
}

.toggle-table ul {
  list-style-type: disc;
  margin-left: 20px;
}
.modality-container {
  margin-top: 15px;
}

.modality-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-button {
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.image-series-list {
  list-style-type: none;
  padding-left: 25px;
  margin: 5px 0;
}

.image-series-list li {
  text-align: left;
  padding-left: 25px;
}

/* 
tesatdsj------------- */

.helpful-links input {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}
.helpful-links {
  font-family: Arial, sans-serif;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-button,
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-button {
  color: blue;
}

.edit-button {
  color: gray;
  margin-left: 5px;
}

.helpful-links a {
  color: blue;
  text-decoration: none;
}

.helpful-links a:hover {
  text-decoration: underline;
}

.input-container {
  margin-top: 10px;
  position: relative;
}

.input-container input {
  width: 400px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: gray;
  transition: all 0.3s ease;
  background: white;
  padding: 0 5px;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  top: 10px;
  font-size: 12px;
  color: #1a73e8;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.link-item {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.1); /* Light blue background */
  padding: 5px 10px;
  border-radius: 15px;
}

.link-item a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.close-button {
  background: blue;
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.close-button:hover {
  background: darkblue;
}
/* end */
