.toggle-table {
  width: 500px;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.button-column {
  width: 50px;
}

.no-data {
  border-bottom: 2px solid #dee2e6;
  padding: 10px 0;
}

.data-row {
  border-bottom: 2px solid #dee2e6;
}

.data-row td {
  padding: 10px 0;
}
